<% content_for :head do -%>
<%= javascript_include_tag 'product' %>
<% end -%>

<% if @product.has_stock? || Spree::Config[:allow_backorders] %>
<% form_for :order, :url => orders_url do |f| %>
<% if @sc_matrix -%>
<p>Choose your colour, size and quantity below.</p>
<table id="option-matrix">
	<tr>
		<th></th>
		<% @sc_matrix['sizes'].each do |s| %>
			<th class="size"><%= s.presentation %></th>
		<td class="spacer"></td>
		<% end -%>
	</tr>
	<% @sc_matrix['colors'].each do |c| -%>
	<tr>
		<th class="color"><%= c.presentation %></th>
		<% @sc_matrix['sizes'].each do |s| -%>
		<td>
			<% if @sc_matrix['variant_ids'][s.id.to_s + '_' + c.id.to_s] -%>
				<input type="radio" value="<%= @sc_matrix['variant_ids'][s.id.to_s + '_' + c.id.to_s] %>" name="products[<%= @product.id %>]" />
			<% else -%>
				<img src="/images/radio-notavailable.png" alt="X" width="20" height="20" />
			<% end -%>
		</td>
		<td class="spacer"></td>
		<% end -%>
	</tr>
	<% end -%>
</table>
<% elsif @product.has_variants? %>
    <div id="product-variants">
      <h2><%= t('variants') %></h2>
      <ul>
        <%  has_checked = false
        @product.variants.active.each_with_index do |v,index|
          next if v.option_values.empty? || (!v.in_stock && !Spree::Config[:show_zero_stock_products])
          checked = !has_checked && (v.in_stock || Spree::Config[:allow_backorders])
          has_checked = true if checked %>
          <li>
            <label>
              <%= radio_button_tag "products[#{@product.id}]", v.id, checked, :disabled => !v.in_stock && !Spree::Config[:allow_backorders] %>
              <span class="variant-description">
                <%= variant_options v %>
              </span>
              <% if variant_price_diff v %>
                <span class="price diff"><%= variant_price_diff v %></span>
              <% end %>
            </label>
          </li>
        <% end%>
      </ul>
    </div>
<% end%>


<% if product_price(@product) %>
<p class="prices">
	<%= t("price") %>
	  <br />
	  <span class="price selling"><%= product_price(@product) %></span>
	</p>
<% end %>
<%= text_field_tag (@product.has_variants? ? :quantity : "variants[#{@product.master.id}]"), 1, :class => "title", :size => 3 %>
	
<button type='submit' class='large primary'>
	<%= image_tag('/images/add-to-cart.png') + t('add_to_cart') %>
</button>
<% end -%>
<% else %>
<%= content_tag('strong', t('out_of_stock')) %>
<% end -%>
